

.back-color{
    background-color:lightgoldenrodyellow;
    margin:2.4rem 0;
    padding:1.5rem 0;
}

.Feed{
    
    margin: 2rem auto;
    height: auto;
    background-color:#fcfafa;
    width: 50%;
    border-radius: 1%;
    padding:5%;

}



.Post-post{
    margin: 1rem auto;
    width: 90%;
    border-radius: 10px;
}

.found-post .Post-details {
    background-color: green;
  }

  .found-post .Post-desc {
    background-color: green;
  }

.Post-details{
    height: auto;
    padding:1rem 1rem;
    background-color:tomato;
}

.Post-image{
    height: 30rem;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Post-image img{
    width: 20rem;
    height: 25rem;
    margin: 1rem 0;
}

.Post-desc{
    padding: 1rem 1rem;
    height: auto;
    background-color: tomato;
}

.Post-desc p{
font-size: 1.5rem; 
}
