.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5F5;

  /* Because we want header to be sticky later */
  height: 6rem;
  padding: 0 2rem;
  position: relative;
}

.logo {
  height: 3rem;
  width: 12rem;
} 

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-nav-link{
  color: black;
  text-decoration: none;
  font-weight:bold;
  font-size: 1.4rem;
}
.main-nav-link:hover{
  color: blue;
}

.main-nav-list button{
  background-color: tomato;
}
.main-nav-list button:hover{
  background-color:blue;
  color: black;
}


